
#progress {
	display:flex;
	justify-content: center;
	align-items: center;
	position: fixed;
	right: 35px;
	color: #e8e8e8;
	height: 100%;
}

#progress ul {
	display: flex;
	flex-direction: column;    
	align-items:center;
	justify-content: space-between;
	width:100%;
	height:30%;
	margin: 0;
	padding: 0;
	list-style: none;
	cursor: default;
}

#progress li {
	position: relative;
	display: block;
	font-size: 10px;			
	float: left;
	width: 100%;
	height: 100%;
	cursor: pointer;
}


#progress li .navTitle{
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	-ms-transition: all 0.3s ease;
	text-align: right;
	position: relative;
	right:25px;
	bottom: 2px;
}

#progress li .navTitle.selected {
	font-size: 15px;	
}

#progress li:hover{
	font-size: 12px;
}

@media(max-width:699px)
{
	#progress {
		display:flex;
		justify-content: center;
		align-items: center;
		position: fixed;
		top: 35px;
		color: #e8e8e8;
		width: 100%;
	}
	
	#progress ul {
		display: flex;
		flex-direction: row;    
		align-items:center;
		justify-content: space-around;
		height:100%;
		width:70%;
	
		margin: 0;
		padding: 0;
		list-style: none;
		cursor: default;
	}

	#progress li {
		font-size: 0px;
	}
}



#progress li:hover{
	visibility: visible;
}

#progress li a {
	top: 0;
	right: 0;
	width: 16px;
	height: 16px;
	outline: none;
	border-radius: 50%;
	background-color: #fff;
	background-color: rgba(255,255,255,0.3);
	cursor: pointer;
	position: absolute;
}

#progress li a {
	overflow: hidden;
	background-color: rgba(0,0,0,0);
	box-shadow: inset 0 0 0 2px rgba(255,255,255,1);
	transition: background 0.3s;
}

#progress li a::after {
	content: '';
	position: absolute;
	bottom: 0;
	height: 0;
	left: 0;
	width: 100%;
	background-color: #fff;
	box-shadow: 0 0 1px #fff;
	transition: height 0.3s;
}

#progress li a:hover,
#progress li a:focus {
	background-color: rgba(0,0,0,0.2);
}

#progress li.current a::after {
	height: 100%;
}