html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
    font-family: 'Open Sans', sans-serif;
}

body {
    position: relative; /* Fix scrolling still enabled on mobile */
}

* {
    box-sizing: border-box;
}

h1 {
    font-family: 'Pacifico', cursive;
    font-size: 40px;
}

p {
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
}

button {
    color: white;
    background-color: transparent;
    border: solid 2px white;
    border-radius: 6px;
    width: 150px;
    height: 50px;
    font-size: 18px;
    margin: 20px;
    cursor: pointer;
}

button:hover {
    background-color: rgba(255, 255, 255, 0.1);
}

button:focus {
    outline: 0;
}

.panel {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    flex-shrink: 0;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;

    top: 0;
    left: 0;
    transition: left 1s, top 1s;
    transition-timing-function: ease;
}
.panel .data
{
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    flex-shrink: 0;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: absolute;
    width:100%;
    height: 100%;
}

.panel .bg
{
    position: absolute;
    width:105%;
    height:105%;
    background-size: 100% 100%; 
    background-image: url("../img/bgp1.jpg");
    filter: blur(10px);
}
.panel.right {
    left: 100%;
}

.panel.left {
    left: -100%;
}

.panel.top {
    top: -100%;
}

.panel.bottom {
    top: 100%;
}

.panel.center {
    top: 0;
    right: 0;
}

#nav-info
{
    position: absolute;
    bottom:5%;
    display: flex;
    flex-direction: column;
    height:15%;
    justify-content: center;
    align-items: center;
    font-size: 15px;    
    color: #d1d1d1;
}
#nav-info div
{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
#nav-info img
{
    height:60px;
    width:60px;
    margin: 5px;
}