html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
    font-family: 'Open Sans', sans-serif;
}

body {
    position: relative; /* Fix scrolling still enabled on mobile */
}

* {
    box-sizing: border-box;
}

h1 {
    font-family: 'Pacifico', cursive;
    font-size: 40px;
}

p {
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
}

button {
    color: white;
    background-color: transparent;
    border: solid 2px white;
    border-radius: 6px;
    width: 150px;
    height: 50px;
    font-size: 18px;
    margin: 20px;
    cursor: pointer;
}

button:hover {
    background-color: rgba(255, 255, 255, 0.1);
}

button:focus {
    outline: 0;
}

.panel {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    flex-shrink: 0;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
    top: 0;
    left: 0;
    transition: left 1s, top 1s;
    transition-timing-function: ease;
}

.panel.right {
    left: 100%;
}

.panel.left {
    left: -100%;
}

.panel.top {
    top: -100%;
}

.panel.bottom {
    top: 100%;
}

.panel.center {
    top: 0;
    right: 0;
}

#nav-info
{
    position: fixed;
    width: 100%;
    bottom: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 15px;    
    color: rgba(255, 255, 255, 0.64);
    z-index: 3;
    animation: spin-vertical 1s alternate infinite;
    animation-timing-function: ease-in-out;

    transition: bottom 0.8s;
    transition-timing-function: ease-in;
}

#nav-info div {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

#nav-info img {
    height: 15px;
    width: 30px;
    margin: 5px;
}
/*
* Hide navigation help on mobile
*/
@media(max-width:699px)
{
    #nav-info{
        visibility: hidden;
    }
}
@media(min-width:700px)
{
    @keyframes spin-vertical {
        from { bottom: 50px; }
        to { bottom: 35px; }
    }
}
